$colorPrimary: #8CD4EC !default;
$colorBanner: #EBEBEB !default;
$colorBrown: #aa9d97 !default;
$colorDarkBrown: #6e5e4f !default;
$colorLightPrimary: #D7F1FA !default;

$colorTheme: #4B4B4D;
$colorThemeLight: #5C5C5E;
$colorThemeDark: #404040;
$colorThemeAlt: #72BBCE;
$borderColor: #ACACAC;
$colorError: #FF6965;
$colorGrayTheme: #EDEDED;

$colorButtonDark: #006A8E;
$colorButtonDarkShadow: #001820;

.theme-alt {
  color: $colorThemeAlt !important;
}
