// Default fonts
$fontDefault: 'Sukhumvit Set', 'ThaiSansNeue', sans-serif;
$fontHighlight: 'Sukhumvit Set', 'ThaiSansNeue', sans-serif;

// Defining font sizes
$fontSmall: 14px;
$fontBase: 18px;
$fontMedium: 24px;
$fontLarge: 36px;
$fontXLarge: 48px;

@font-face {
  font-family: 'ThaiSansNeue';
  src: url('../fonts/ThaiSansNeue/OpenType/ThaiSansNeue-Regular.otf');
}

@font-face {
  font-family: 'ThaiSansNeue';
  font-weight: bold;
  src: url('../fonts/ThaiSansNeue/OpenType/ThaiSansNeue-Bold.otf');
}
