.home .bg-section {
  @media (max-width: 665px) {
    text-align: center;
    button {
      width: 100%;
      max-width: 300px;
    }
  }
}

.bg-section.old-layout {
  background: $colorThemeDark;
  min-height: auto;
  padding: 20px;
}

.bg-section:not(.old-layout) {
  position: relative;
  background: $colorGrayTheme;
  padding: 35px 0;
  border-bottom: 1px solid #939598;
  min-height: 650px;
  text-align: center;

  .header {
    margin: 10px auto 30px 0;
    color: #999;

    @media only screen and (max-width: 800px) {
      width: 300px;
      margin: auto;
      margin-bottom: 20px;
    }
  }

  ul {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 1200px;
    height: 470px;
    overflow: hidden;

    @media only screen and (max-width: 1400px) {
      width: 1000px;
    }

    @media only screen and (max-width: 1024px) {
      width: 600px;
    }

    @media only screen and (max-width: 520px) {
      width: 300px;
      height: 950px;
    }

    &.highlight-node {
      li {
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: transform 0.2s;
        transform: translateZ(0);

        &:hover {
          transform: translateZ(0) scale(1.03);
        }

      }
    }

    li {
      width: 250px;
      height: 220px;
      display: inline-block;
      margin: 10px;
      background: #CCC;
      text-align: left;

      >div{
        margin: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9));
        background: -o-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9));
        background: -moz-linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9));
        background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.9));

        >div{
          padding: 15px 10px;

          .name {
            font-size: 22px;
            color: $colorPrimary;
          }

          .area {
            font-size: 15px;
            color: white;
            margin-top: 5px;
          }

          .available {
            position: relative;
            top: 135px;
            font-size: 15px;
            color: $colorPrimary;
          }
        }
      }
    }
  }

  button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    background: $colorPrimary;
    color: #333;
    border: none;
    padding: 0 20px;
    line-height: 42px;
    border-bottom: 2px solid $colorButtonDark;
    margin-top: 30px;
  }


  .title {
    position: relative;

    p {
      max-width: 400px;
      margin: 0;
      font-size: 22px;
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 20px;

      em {
        font-style: normal;
        color: $colorThemeAlt;
      }
    }



    @media (max-width: 680px) {
      &:after {
        display: none;
      }

      p {
        margin: 0 auto 20px;
      }
    }
  }
}

.how-it-works {
  @media only screen and (max-width: 650px) {
    text-align: center;
  }

  ul {
    display: inline-block;
    padding: 40px 0 0 25px;
    margin: 0 0 0 40px;
    list-style: none;
    border-left: 2px solid #939597;

    @media only screen and (max-width: 400px) {
      display: block;
      margin: 0 auto;
      border-left: 0;
      padding-left: 0;
    }

    li {
      position: relative;
      display: block;
      background-color: #818386;
      height: 200px;
      margin-bottom: 30px;

      &:before {
        content: '1';
        font-family: Node;
        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        font-size: 50px;
        color: white;
        text-align: center;
        line-height: 100px;
        top: 50%;
        margin-top: -50px;
        left: -75px;
        background: url(../images/step-bg.png) no-repeat;
        background-size: 100%;
        z-index: 4;
      }

      &:nth-child(2) {
        &:before {
          content: '2';
        }
      }

      &:nth-child(3) {
        &:before {
          content: '3';
        }
      }
      > img {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 200px;
        width: 300px;
        z-index: 1;
      }
      .content {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 20px 20px 20px 320px;
        background: linear-gradient(to right, #58585A, #818386);
        > img {
          display: block;
          position: static;

          @media only screen and (max-width: 794px) {
            display: none;
          }
        }
        p {
          margin: 0 0 10px 0;
          text-transform: uppercase;
          line-height: 1.2;
        }
      }

      @media only screen and (max-width: 650px) {
        width: 300px;
        .content {
          display: block;
          position: absolute;
          width: 300px;
          padding: 20px;
          box-sizing: border-box;

          p {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 20px;
            margin: 0;
            background: rgba(0,0,0,0.5);
            z-index: 3;
          }
        }
      }

      @media only screen and (max-width: 400px) {
        width: 100%;
        margin: 20px auto 70px;

        &:last-child {
          margin-bottom: 20px;
        }

        > img {
          width: 100%;
        }

        &:before {
          top: 0;
          margin-top: -50px;
          left: 50%;
          margin-left: -50px;
        }

        .content {
          width: 100%;
          p {
            padding-top: 70px;
          }
        }
      }
    }
  }
}

.list-node {
  .title:after {
    background: url(../images/list-node-image.png) no-repeat;
    background-size: 100%;
  }
}

#faq {
  .panel {
    border: 0;
    background: $colorThemeDark;
  }
  .panel-heading {
    padding: 0;
    background: $colorThemeDark;
    color: $colorThemeAlt;
    border: 0;

    a {
      position: relative;
      padding: 10px 15px;
      display: block;
      width: 100%;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .panel-body {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 10px;

    p {
      margin: 0;
    }
  }
  h2 {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin: 30px 0 20px;
  }

  h3 {
    color: $colorThemeAlt;
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }
}

.section {
  padding: 35px 0;
  background: $colorTheme;

  h1 {
    font-family: Node;
    font-size: 24px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
  }

  p {
    color: white;
  }
}

.become-a-host {
  width: 100%;
  height: 360px;
  background-color: white;
  margin: auto;

  @media only screen and (max-width: 800px) {
    height: 301px;
  }

  .container {
    padding: 0;

    >div {
      width: 780px;
      height: 300px;
      background: $colorThemeDark;
      margin: 30px auto auto auto;
      display: flex;

      @media only screen and (max-width: 800px) {
        margin: auto;
        width: 100%;
      }

      .become-a-host-image {
        width: 500px;
        height: 300px;
        background-size: cover;
        background-position: center;

        @media only screen and (max-width: 520px) {
          width: 100%;
          position: absolute;
          z-index: 1
        }
      }

      .become-a-host-content {
        width: 240px;
        margin: 20px;
        text-align: left;

        @media only screen and (max-width: 520px) {
          position: absolute;
          z-index: 1000;
          background: $colorThemeDark;
          padding: 20px;
          margin: 20px;
          width: calc(100% - 40px);
        }

        .title {
          margin-top: 40px;
          font-size: 25px;
          color: white;
          font-weight: 300;
          line-height: 30px;

          @media only screen and (max-width: 520px) {
            margin-top: 10px;
          }

        }

        .subtitle {
          font-size: 14px;
          color: #eee;
        }

        .button-container {
          text-align: center;

          button {
            width: 240px;
            height: 40px;
            font-size: 14px;
            background: $colorPrimary;
            color: #333;
            border: none;
            padding: 0 20px;
            line-height: 42px;
            border-bottom: 2px solid $colorButtonDark;
            margin-top: 20px;

          }
        }


      }

    }
  }
}

div.become-a-host::before {
  content: '';
  position: absolute;
  margin-top: 220px;
  margin-left: 10px;
  width: 130px;
  height: 130px;
  background-image: url('../images/corner.svg');

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

div.become-a-host::after {
  content: '';
  position: absolute;
  right: 0;
  width: 130px;
  height: 130px;
  margin-top: -320px;
  margin-right: 10px;
  background-image: url('../images/corner.svg');
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

footer {
  display: block;
  background: $colorThemeDark;
  color: white;
  min-height: 160px;
  padding: 20px 0 ;

  &.old-layout {
    font-size: 14px;
    line-height: 8px;
  }

  .footer-note {
    text-align: center;

    .info_container {
      display: auto;

       @media only screen and (min-width: 1024px) {
         display: none;
       }
    }

  }

  .info_container {
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;

    a {
      color: white;
    }

     ul {
       list-style: none;
     }

     li {
       width: 100px;
       display: inline-block;
       font-size: 14px;
       text-align: left;
     }

     @media only screen and (max-width: 1024px) {
       margin-left: auto;
       margin-right: auto;
     }
  }

  .footer-inner {
    display: flex;
    height: 60px;
    width: 1100px;
    margin: auto;

    @media only screen and (max-width: 1024px) {
      width: 800px;
    }

    @media only screen and (max-width: 770px) {
      width: 500px;
    }

    @media only screen and (max-width: 520px) {
      width: 300px;
      height: 100px;
      display: block;
    }

    >img {
      display: auto;
      @media only screen and (max-width: 770px) {
        display: none;
      }
    }

    .social_container {
      margin-left: 50px;
      margin-top: 20px;
      font-size: 16px;
      font-weight: bold;

      @media only screen and (max-width: 1024px) {
        margin-left: 100px;
      }

      @media only screen and (max-width: 770px) {
        margin-left: 60px;
      }

      @media only screen and (max-width: 520px) {
        margin-left: auto;
        margin-right: auto;
        width: 210px;
      }

      img {
        margin-left: 8px;
      }

    }

    .info_container {
      display: auto;

       @media only screen and (max-width: 1024px) {
         display: none;
       }
    }

    .language_container{
      margin-left: 50px;
      display: flex;

      @media only screen and (max-width: 1024px) {
        margin-left: 150px;
      }

      @media only screen and (max-width: 770px) {
        margin-left: 20px;
      }

      @media only screen and (max-width: 520px) {
        margin-left: auto;
        margin-right: auto;
        width: 210px;
      }

      >img {
        position: relative;
        top: 0;
        @media only screen and (max-width: 520px) {
          top: 7px;
        }
      }

      .dropdown {
        height: 30px;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 15px;
        line-height: 10px;
        width: 170px;

      	&:hover{
      			background: #444;
      	}

      	&.show-angle-down:after {
          top: 7px;
      	   color: white;
      	}

        .dropdown-list {
          background: $colorThemeDark;

          li {
            padding: 10px;

            &:hover {
      				background: #555;
      			}

          }
        }

      }

    }

  }

}
