<div class="home" ng-controller="HomeCtrl">

  <header style="background-image: url(https://static.pexels.com/photos/7095/people-coffee-notes-tea.jpg)">
    <section class="navigator">
      <div>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">COURSE</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </section>
    <section class="top-highlight">
      <div class="red-block-back"></div>
      <div class="red-block1"></div>
      <div class="red-block2"></div>
    </section>

    <section class="background-control">
      <ul>
        <li class="selected"></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </header>

  <section class="home-body">
    <!-- <div class="back-skew-line"></div> -->
    <section class="upcoming-courses">
      <h1>Upcoming Classes</h1>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>

    <div class="instructor-list-title">
      INSTRUCTORS
    </div>
    <section class="instructor-list">
        <!-- <div class="back-skew-line"></div> -->
        <section class="main-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </p>
        </section>
    </section>

    <section class="our-location">
        <h1>Contact Us</h1>
        <ul class="location-name">
          <li class="selected">HUBBA EKKAMAI</li>
          <li>HUBBA-TO</li>
          <li>DISCOVERY HUBBA</li>
        </ul>
        <div class="main-container">

          <div class="map">
            <ui-gmap-google-map center="map.center" options="map.options" zoom="17">
              <ui-gmap-marker coords="map.center" idkey="1">
            </ui-gmap-google-map>
          </div>

          <div class="info">
            <h1>แผนที่เดินทาง</h1>
            <div class="description">
              <p>ตั้งอยู่ในทำเลกลางใจเมืองกรุงเทพ</p>
              <p>แหล่งรวมธุรกิจและศูยน์การค้ามากมาย</p>
              <p>ใกล้รถไฟฟ้า BTS และสถานที่สำคัญ</p>
            </div>
            <div class="address">
              <p>19 Soi Ekkamai 4</p>
              <p>Sukhumvit 63 Rd, Prakanong Nua</p>
              <p>Bangkok 10110</p>
            </div>
          </div>

        </div>

    </section>

    <section class="testimonial">
      <div class="">

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        </p>

      </div>
    </section>

    <footer>
      <section class="about-us">
        <div class="title">เกี่ยวกับเรา</div>
        <ul>
          <li>หน้าแรก</li>
          <li>องค์กรของเรา</li>
          <li>สถานที่</li>
        </ul>
      </section>
      <section class="contact-us">
        <div class="title">ติดต่อเรา</div>
        <ul>
          <li>contact@hubbathailand.com</li>
          <li>www.facebook.com/HUBBAWorkshop</li>
          <li>Line : hubbaacademy</li>
          <li>เบอร์โทร : </li>
        </ul>
      </section>
    </footer>

    <section class="copyright">
      2016 HUBBA ACADEMY
    </section>

  </section>

</div>
